absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astor
asttokens
async-timeout
attrs
backcall
base58
bcrypt
beautifulsoup4
black
bleach
blinker
blis
Brotli
cachetools
catalogue
certifi
cffi
cfgv
charset-normalizer
click
cloudpickle
cmake
colorama
coloredlogs
comm
confection
contexttimer
contourpy
cpm-kernels
cryptography
cycler
cymem
Cython
datasets
debugpy
decorator
deepspeed
defusedxml
dill
distlib
docopt
einops
exceptiongroup
executing
fabric
fastapi
fastjsonschema
ffmpy
filelock
flake8
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-auth
google-auth-oauthlib
gradio
gradio_client
grpcio
h11
hjson
hope
httpcore
httpx
huggingface-hub
humanfriendly
identify
idna
importlib-metadata
importlib-resources
inflate64
iniconfig
invoke
isoduration
isort
jedi
jieba
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
langcodes
latex2mathml
Levenshtein
lightgbm
linkify-it-py
lit
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdtex2html
mdurl
mistune
mpmath
# mt-tritonclient
multidict
multiprocess
multivolumefile
murmurhash
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
nmslib
nodeenv
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
# octo-rpc
onnxruntime
orjson
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pathy
peft
pexpect
pickleshare
Pillow
platformdirs
plotly
pluggy
ply
portalocker
pre-commit
preshed
prettytable
prometheus-client
prompt-toolkit
promptsource
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
py7zr
pyarrow
pyasn1
pyasn1-modules
pybcj
pybind11
pycodestyle
pycparser
pycryptodomex
pydantic
pydeck
pydub
pyflakes
Pygments
pyjnius
PyNaCl
pyparsing
pyppmd
pyrsistent
pyserini
pytest
python-cat
python-dateutil
python-json-logger
python-multipart
python-rapidjson
pytz
pytz-deprecation-shim
PyYAML
pyzmq
pyzstd
qtconsole
QtPy
rapidfuzz
regex
requests
requests-oauthlib
responses
rfc3339-validator
rfc3986-validator
rich
rouge
rsa
sacrebleu
safetensors
scikit-learn
scipy
semantic-version
Send2Trash
sentencepiece
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
streamlit
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboardX
terminado
texttable
thinc
threadpoolctl
thrift
thriftpy2
tinycss2
tokenizers
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
typing_extensions
tzdata
tzlocal
uc-micro-py
uri-template
urllib3
uvicorn
validators
virtualenv
wasabi
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
xxhash
yarl
zipp
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
# icetk
